In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))


# Any results you write to the current directory are saved as output.

['gender_submission.csv', 'test.csv', 'train.csv']

In [2]:
train_data = pd.read_csv('../input/train.csv')
test_data = pd.read_csv('../input/test.csv')

In [3]:
train_data.head()

   PassengerId  Survived  Pclass    ...        Fare Cabin  Embarked
0            1         0       3    ...      7.2500   NaN         S
1            2         1       1    ...     71.2833   C85         C
2            3         1       3    ...      7.9250   NaN         S
3            4         1       1    ...     53.1000  C123         S
4            5         0       3    ...      8.0500   NaN         S

[5 rows x 12 columns]

In [4]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
train_data = train_data.drop(['Cabin'],1)
train_data = train_data.dropna()

In [6]:
train_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [7]:
y = train_data['Survived']
X = train_data.drop(['Survived','PassengerId','Name','Ticket'],1)
X['Sex'].replace(['female','male'],[0,1],inplace=True)

In [8]:
X = pd.get_dummies(X,['Embarked'])

In [9]:
X.head()

   Pclass  Sex   Age     ...      Embarked_C  Embarked_Q  Embarked_S
0       3    1  22.0     ...               0           0           1
1       1    0  38.0     ...               1           0           0
2       3    0  26.0     ...               0           0           1
3       1    0  35.0     ...               0           0           1
4       3    1  35.0     ...               0           0           1

[5 rows x 9 columns]

Now as the Data cleaning/processing is done and all values are converted to numerical values. We can go ahead to train our model and make predictions.

In [10]:
from sklearn.ensemble import AdaBoostClassifier
model = AdaBoostClassifier()
model.fit(X,y)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [11]:
test_data.shape

(418, 11)

In [12]:
test_data = test_data.drop(['Cabin'],1)
test_data = test_data.fillna(0)
ids = test_data[['PassengerId']]
X_test = test_data.drop(['PassengerId','Name','Ticket'],1)
X_test['Sex'].replace(['female','male'],[0,1],inplace=True)
X_test = pd.get_dummies(X_test,['Embarked'])

In [13]:
X_test.shape

(418, 9)

In [14]:
prediction = model.predict(X_test)

In [15]:
results = ids.assign(Survived = prediction) 
results.to_csv("titanic-results.csv", index=False)